<div class="graphic-info">
  <div class="charts">
    <div class="rounded">
      CONTENEDOR 1
    </div>

    <div class="bar">
      <%= high_chart("bar_div", @chart) %>
    </div>
  </div>

  <div class="info">
    <div>
      CONTENEDOR 3
    </div>
  </div>

</div>