<div class="graphic-info">
  <div class="charts">
    <div class="rounded">
      <%= high_chart("pie_div", @chart_p) %>
    </div>

    <div class="bar">
      <%= high_chart("bar_div", @chart_c) %>
    </div>
  </div>

  <div class="info">
    <div>
      <p><%= high_chart("col_div", @chart_l) %></p>
    </div>
  </div>

</div>


