<%= content_for :name, 'Resultado Reporte' %>
<%= content_for :description, 'Listado de Proyectos' %>
<%= content_for :breadcrumbs, raw('<i class="fa fa-fw fa-dashboard"></i> Dashboard / <i class="fa fa-fw fa-file"></i> Reportes / <i class="fa fa-fw fa-table"></i> Resultado ') %>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">
      <strong> <i> No se han encontrado proyectos con esos parametros. </i> </strong>
    </h3>
  </div>
</div>
