<div class="user_fields">
  <%= text_field_tag @rut, '',{placeholder:'Rut', class: 'text_field usuario'} %>
  <%= text_field_tag @nombre, '',{placeholder:'Nombre y Apellidos', class: 'text_field usuario'} %>
  <%= text_field_tag @correo, '',{placeholder:'Correo Electrónico', class: 'text_field usuario'} %>
</div>