<%- model_class = TmpProyecto -%>
<div class="page-header">
  <h1>Inscribir Proyecto</h1>
</div>
<%= render :partial => 'form' %>

<script type="text/javascript">
  $(function(){
    TmpProyecto.init();
  });
</script>