<%- model_class = TmpProyecto -%>


<div class="well">
  <div>
    <p>Has registrado el proyecto exitosamente.</p>
    <p>Tu solicitud tiene número #<%= @tmp_proyecto.id %></p>
    <p>y será notificada al Profesor <%= @profesor.nombre_completo %></p>
    <p>Estado actual: <%= @tmp_proyecto.estado %></p>
  </div>
</div>

<div class="form-actions">
  <%= link_to 'Click para ver solicitudes.', tmp_proyectos_path, :class => 'btn'  %>
</div>
