<%- model_class = Usuario -%>

<%= content_for :name, 'Editar Perfil' %>
<%= content_for :description, "#{@usuario.username}" %>
<%= content_for :breadcrumbs, raw('<i class="fa fa-fw fa-dashboard"></i> Dashboard / <i class="fa fa-fw fa fa-user"></i> Usuarios / <i class="fa fa-fw fa fa-edit"></i> Editar Perfil') %>

<div class="form-usuarios">
  <%= render :partial => 'form' %>
</div>

