@import 'compass';
@include font-face("Glyphicons Halflings", font-files("glyphicons-halflings-regular.ttf", "glyphicons-halflings-regular.eot", "glyphicons-halflings-regular.woff", "glyphicons-halflings-regular.svg"), '400', 'normal');

#home{
  width: 100%;
  height: 100%;
  background: url(bg/main_bg.png) no-repeat 0 20%;
  -webkit-background-size: cover;
}

.logo{
  margin-left: 5%;
}

#title{
  font-size: 18px;
  color: rgb(65, 38, 37);
  font-weight: normal;
  font-style: italic;
  line-height: 30px;
  text-align: center;
}

.container{
  padding-top: 15px;
}

.container a{
  display: inline-block;
}

.main_button{
  margin-top: 20px;
  margin-left: 50px;
}

.middle_button{
  margin-top: 20px;
  margin-left: 130px;
}

.button{
  &.add{
    margin-top: 10px;
    display: inline-block;
    width: 33px;
    height: 32px;
    background-position: 0px 1px;
    background-image: url(bullets/plus_minus.png);
  }
  &.delete{
    display: inline-block;
    width: 33px;
    height: 32px;
    background-position: -34px;
    background-image: url(bullets/plus_minus.png);
  }
}

#new_tmp_group{
  padding: 0 10px 0 10px;
}

.ui-input-text{
  @include border-radius(20px !important);
  padding: 0 !important;
}

.extended{
  input{
    margin-right: 4px;
    margin-top: 10px;
  }
}

.form-actions-override{
  padding: 19px 100px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.contenedor_interno{
  padding: 0 100px;
}

.forms_proyecto{
  @extend .contenedor_interno;

  table{
    th{
      text-align: right;
    }
    border: 1px solid #dddddd;
  }
  .complejidad{
    width: 95px;
  }

  .funcionalidad{
    width: 300px;
  }
}

// Date Structure
.dates{
  span{
    display: inline-block;
    width: 55px;
    +span{
      width: 115px;
      +span{
        width: 75px;
      }
    }
  }
}

//tabla usuarios
.table{
  &.usuarios{
    th{
      width: 40px;
      th{
        width: 110px;
      }
    }
  }
}

.checkbox{
  &.centered{
    margin-left: 28px;
  }
}

.cant_proyectos{
  color: gray;
  background-color: white;
}

.actividades{
  height: 20px;
  padding: 7px 5px 7px 5px;
  border: 1px solid #dddddd;
  div{
    font-weight: bold;
    text-align: center;
  }
  .div1{width: 24.9%;}
  .div2{width: 34.7%;}
  .div3{width: 11.7%;}
  .div4{width: 28.6%;}
}

.detalle{
  @extend .actividades;
  border-top: none;
  padding: 5px;
  height: 40px;
  &.odd{
    background-color: #f9f9f9;
  }
  @for $i from 1 through 9{
    .span#{$i}{
      padding-top: 9px;
    }
  }
}

form{
  .text_area{
    width: 50%;
  }
  &.actividad{
    max-width: 400px;
  }
}

#form_tarea{
  display: none;
}

div.tarea{
  padding-top: 5px;
  height: 30px;
  text-align: center;
  &.odd{
    background-color: #f5f5f5;
  }
  .checkbox{
    margin-left: 55px;
  }
}

// Bootstrap Override Fix
.progress-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.active{
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.sr-only{
  position: relative;
  width: 30px;
  height: 20px;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


// Own Responsive styles
@media screen and (max-width: 780px){
  .actividades{
    height: initial;
    div{
      height: 0%;
    }
  }
  .detalle{
    height: initial;

  }
  div.tarea{
    height: initial;
  }
}


 // Small screens
@media only screen and (max-width: 420px){
  .forms_proyecto{
    padding: 0 10px;
  }
}

//Tablet
@media only screen and (max-width: 641px) {
  .row-fluid{
    .page-header{
      h1{
        text-align: center;
      }
    }
    .forms_proyecto{
      input{
        height: 50px;
      }
      select{
        @extend input;
      }
    }
  }
  .contenedor_interno{
    padding: 0 30px;
  }
  .listado_tareas{
    .tarea{
      float: right;
      width: 70%;
      border: 1px solid gray;
      span{
        float: right;
        width: 100%;
        text-align: left;
        &:last-child{
          height: 37px;
        }
        .checkbox{
          margin-left: 0;
        }
      }


      &.header{
        float: left;
        width: 30%;
        border: 1px solid gray;
        span{
          float: left;
          width: 100%;
          text-align: left;
          &:last-child{
            height: 40px
          }
        }
      }

    }
  }



} /* min-width 641px, medium screens */



#reporte_general{
  border: 1px solid rgb(218, 218, 218);
  width: 45%;
  padding: 30px;
}
.evaluacion_inline{
  width: 23%;
  margin-top: -3px;
  height: 15px !important;
  padding-left: 10px !important;
}

.button_load{
  margin-top: 10px;
}

