@import 'compass';
@include font-face("Glyphicons Halflings", font-files("glyphicons-halflings-regular.ttf", "glyphicons-halflings-regular.eot", "glyphicons-halflings-regular.woff", "glyphicons-halflings-regular.svg"), '400', 'normal');

html{
  height: 100%;
  input[type='file']{
    padding-left: 2px;
  }
}

#home{
  width: 100%;
  height: 100%;
  background: url(bg/main_bg.png) no-repeat 0 20%;
  -webkit-background-size: cover;
}

.logo{
  margin-left: 5%;
  img{
    width: 90%;
  }
}

form{
  label.error{
    color: #E80D0D;
    font-size: 12px;
    position: absolute;
    margin-top: -7px;
  }
  input.error{
    border-color: #E80D0D;
  }
  .form-control:focus{
    &.error{
      @extend input.error;
    }
  }
}

.flash-message{
  margin: 0 30%;
}

#title{
  font-size: 18px;
  color: rgb(65, 38, 37);
  font-weight: normal;
  font-style: italic;
  line-height: 30px;
  text-align: center;
}

.container{
  padding-top: 15px;
}

.container a{
  display: inline-block;
}

.main_button{
  margin-top: 20px;
  margin-left: 50px;
}

.middle_button{
  margin-top: 20px;
  margin-left: 130px;
}

.button{
  &.add{
    margin-top: 10px;
    display: inline-block;
    width: 33px;
    height: 32px;
    background-position: 0px 1px;
    background-image: url(bullets/plus_minus.png);
  }
  &.delete{
    display: inline-block;
    width: 33px;
    height: 32px;
    background-position: -34px;
    background-image: url(bullets/plus_minus.png);
  }
}

#new_tmp_group{
  padding: 0 10px 0 10px;
}

.ui-input-text{
  @include border-radius(20px !important);
  padding: 0 !important;
}

.extended{
  input{
    margin-right: 4px;
    margin-top: 10px;
  }
}

.form-actions-override{
  padding: 19px 100px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.contenedor_interno{
  padding: 0 100px;
}

.forms_proyecto{
  @extend .contenedor_interno;

  table{
    th{
      text-align: right;
    }
    border: 1px solid #dddddd;
  }
  .complejidad{
    width: 95px;
  }

  .funcionalidad{
    width: 300px;
  }
}

// Date Structure
.dates{
  span{
    display: inline-block;
    width: 55px;
    +span{
      width: 115px;
      +span{
        width: 75px;
      }
    }
  }
}

//tabla usuarios
.table{
  &.usuarios{
    th{
      width: 40px;
      th{
        width: 110px;
      }
    }
  }
}

.checkbox{
  &.centered{
    margin-left: 28px;
  }
}

.cant_proyectos{
  color: gray;
  background-color: white;
}

.actividades{
  height: 20px;
  padding: 7px 5px 7px 5px;
  border: 1px solid #dddddd;
  div{
    font-weight: bold;
    text-align: center;
  }
  .div1{width: 24.9%;}
  .div2{width: 34.7%;}
  .div3{width: 11.7%;}
  .div4{width: 28.6%;}
}

.detalle{
  @extend .actividades;
  border-top: none;
  padding: 5px;
  height: 40px;
  &.odd{
    background-color: #f9f9f9;
  }
  @for $i from 1 through 9{
    .span#{$i}{
      padding-top: 9px;
    }
  }
}

form{
  .text_area{
    width: 50%;
  }
  &.actividad{
    max-width: 400px;
  }
}

#form_tarea{
  display: none;
}

div.tarea{
  height: 40px;
  text-align: center;
  position: relative;
  padding: 10px;
  &.description-header{
    display: none;
  }
  div.columns{
    position: relative;
    height: 100%;
  }
  &.odd{
    background-color: #f5f5f5;
  }
  .checkbox{
    margin-left: 55px;
  }
}

// Bootstrap Override Fix
.progress-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.active{
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.sr-only{
  position: relative;
  width: 30px;
  height: 20px;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#reporte_general{
  border: 1px solid rgb(218, 218, 218);
  width: 45%;
  padding: 30px;
}

.evaluacion_inline{
  width: 23%;
  margin-top: -3px;
  height: 15px !important;
  padding-left: 10px !important;
}

.button-load{
  margin-top: 10px;
}

//TMP PROYECTO
form.new-proyecto{
  .alumnos-container{
    height: 200px;
    .selectores{
      float: left;
      width: 50%;
    }

    .seleccionados{
      float: right;
      width: 45%;
      height: 140px;
      border: 1px solid #CCC;
      overflow-y: auto;
      padding: 10px;
      border-radius: 4px;
      margin-top: 25px;
      .lista{
        span{
          width: 100%;
          padding: 3px 6px;
          position: relative;
          display: inline-block;
          span{
            float: right;
            padding: 0 10px;
            font-weight: bold;
            cursor: pointer;
            width: 30px;
            &:hover{
              cursor: pointer;
              color: red;
            }
          }
          &:hover{
            cursor: default;
            background-color: rgb(213, 238, 247);
          }
        }
      }
    }
  }
}

.form-usuarios{
  width: 40%;
  input{
    margin-bottom: 10px;
  }
}

//Gráficos

.graphic-info{
  width: 100%;
  height: 650px;
  .charts{
    float: left;
    width: 55%;
    height: inherit;

    div{
      height: 300px;
      margin-bottom: 50px;
      &.rounded{

      }

      &.bar{

      }
    }
  }

  .info{
    float: right;
    width: 40%;
    height: inherit;
  }
}

// Uploads

.upload-container{
  border: 1px #CCC solid; padding: 10px;
  width: 50%;
  .structure-name{
    width: 50%;
  }
}

// History

.history-container{
  border: 1px solid gray;
  padding: 5px;
  width: 30%;
  margin-bottom: 10px;
  &.incomplete{
    background-color: #F58484;
    color: white;
  }
  &.complete{
    background-color: #72B07C;
    color: white;
  }
}

// Own Responsive styles

@media screen and (max-width: 1000px){
  .contenedor_interno{
    padding: 0 30px;
  }

  .listado_tareas{
    border: 1px solid gray;
    .tarea{
      float: right;
      width: 70%;
      height: 100%;
      border-bottom: 1px solid gray;
      div.columns{
        float: right;
        width: 100%;
        text-align: left;
        height: 40px;
        padding: 10px;
        .checkbox{
          margin-left: 0;
        }
        &:last-child{
          height: 50px;
        }
      }
      &:last-child{
        border-bottom: none;
      }
      &.header{
        float: left;
        width: 30%;
        height: 100%;
        clear: both;
        border-bottom: 1px solid gray;
        border-right: 5px solid rgb(178, 176, 184);
        &.description-header{
          display: inline-block;
        }
        &.last-child{
          border-bottom: none;
        }
        div{
          float: left;
          width: 100%;
          text-align: center;
          &:last-child{
            height: 50px;
          }
        }
      }

    }
  }

  .upload-container{
    width: 100%;
    .structure-name{
      width: 100%;
    }
  }

}

@media screen and (max-width: 780px){
  .actividades{
    height: initial;
    div{
      height: 0%;
    }
  }
  .detalle{
    height: initial;

  }
  div.tarea{
    height: initial;
  }

  .form-usuarios{
    width: 100%;
  }

  .graphic-info{
    .charts{
      float: left;
      width: 100%;
    }
    .info{
      float: left;
      width: 100%;
      margin-top: 50px;
    }
  }

}


 // Small screens
@media only screen and (max-width: 420px){
  .forms_proyecto{
    padding: 0 10px;
  }
}

//Tablet
@media only screen and (max-width: 641px) {
  .row-fluid{
    .page-header{
      h1{
        text-align: center;
      }
    }
    .forms_proyecto{
      input{
        height: 50px;
      }
      select{
        @extend input;
      }
    }
  }
} /* min-width 641px, medium screens */

//Login
@media only screen and (max-width: 960px) {
  .modal-content {
    &.login{
      margin-top: 30px;
    }
  }
}

